<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IHelloWorldService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <!--<endpoint address="http://localhost:57884/HelloWorldService.svc"
                binding="wsHttpBinding" bindingConfiguration="" contract="ServiceReference1.IHelloWorldService"
                name="BasicHttpBinding_IHelloWorldService" />-->
            <endpoint address="http://localhost:57884/HelloWorldService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IHelloWorldService"
                contract="ServiceReference1.IHelloWorldService" name="BasicHttpBinding_IHelloWorldService1" />
        </client>
    </system.serviceModel>
</configuration>